{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Edit</h1>

    {{ form_start(editProfileForm) }}
    <div>
        {{ form_label(editProfileForm.pseudo) }}
        {{ form_widget(editProfileForm.pseudo, {'attr': {'value': app.user.pseudo}}) }}
    </div>

    <div>
        {{ form_label(editProfileForm.firstname) }}
        {{ form_widget(editProfileForm.firstname, {'attr': {'value': app.user.firstname}}) }}
    </div>

    <div>
        {{ form_label(editProfileForm.lastname) }}
        {{ form_widget(editProfileForm.lastname, {'attr': {'value': app.user.lastname}}) }}
    </div>

    <div>
        {{ form_label(editProfileForm.telephone) }}
        {{ form_widget(editProfileForm.telephone, {'attr': {'value': app.user.telephone}}) }}
    </div>

    <div>
        {{ form_label(editProfileForm.email) }}
        {{ form_widget(editProfileForm.email, {'attr': {'value': app.user.email}}) }}
    </div>

    <div>
        {{ form_label(editProfileForm.campus) }}
        {{ form_widget(editProfileForm.campus, {'attr': {'value': app.user.campus.name}}) }}
    </div>

    <button type="submit" class="btn">Save</button>
    <button type="button" class="btn">
        <a href="{{ path('main_home') }}">Cancel</a>
    </button>
    {{ form_end(editProfileForm) }}
{% endblock %}

