{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user.id == selectedUser.id %}
        {{ parent() }} | My Profile
    {% else %}
        {{ parent() }} | {{ app.user.pseudo }}
    {% endif %}

{% endblock %}

{% block body %}
    {% if app.user.id == selectedUser.id %}
        <h1>My Profile</h1>
        <div>
            <span>Pseudo : {{ app.user.pseudo }}</span>
        </div>
        {{ include('inc/userSummary.html.twig') }}

        <div>
            <button>
                <a href="{{ path('profile_manage') }}">Edit profile</a>
            </button>
        </div>
    {% elseif app.user.admin %}
        <h1>Update User</h1>
        {{ include('inc/userSummary.html.twig') }}
        {{ form(updateUserPrivilegesForm) }}
    {% else %}
        <h1>{{ selectedUser.pseudo }}</h1>
        {{ include('inc/userSummary.html.twig') }}
    {% endif %}
{% endblock %}