{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user.id == selectedUser.id %}
        {{ parent() }} | My Profile
    {% else %}
        {{ parent() }} | {{ app.user.pseudo }}
    {% endif %}

{% endblock %}

{% block body %}
    {% if app.user.id == selectedUser.id %}
        <h1>My Profile</h1>
        <h1>{{ app.user.pseudo }}</h1>
        <div id="profile-container">
            <div id="profile-header">
                <div class="rounded-img">
                    <img src="{{ asset('img/profiles/' ~ app.user.picture)}}"
                         alt="Profil's picture of the user"
                         class="big-img"
                         >
                </div>
        </div>
        {{ include('inc/userSummary.html.twig') }}
        <div class="btn-container">
            <button>
                <a href="{{ path('profile_manage') }}">Edit profile</a>
            </button>
        </div>
    {% elseif app.user.admin %}
        <h1>Update User</h1>
        {{ include('inc/userSummary.html.twig') }}
        {{ form(updateUserPrivilegesForm) }}
    {% else %}
        <h1>{{ selectedUser.pseudo }}</h1>
        {{ include('inc/userSummary.html.twig') }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
    <link rel="stylesheet" href="{{ asset('css/events.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profils.css') }}">
{% endblock %}