{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Log in{% endblock %}

{% block body %}
    <h1 class="signin-lbl">Please sign in Mate</h1>
    <form id="signin" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}


        <label class="signin-lbl" for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
               autocomplete="email" required autofocus>
        <label class="signin-lbl" for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password"
               required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <div class="checkbox-rmmbr">
            <label>
                <input type="checkbox" name="_remember_me">
                Remember me
            </label>
        </div>

        <div class="btn-container">
            <button class="signin-btn" type="submit">
                Sign in
            </button>
        </div>

        <div class="form-link-container">
{#            <a href="{{ path('profile_manage') }}">New User?</a>#}
            <a href="{{ path('app_forgot_password_request') }}">Forgot Your Password?</a>
        </div>
    </form>


{% endblock %}
