{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Home{% endblock %}

{% block body %}
    {% if not app.user %}
        <div id="title-img">
            <a href="{{ path('app_login') }}">
                <img class="mainimg" src="{{ asset('img/logo-GO.png') }}" alt="Logo Go Out">
            </a>
        </div>

        <h1 class="headmess"> Wanna Go Out ? </h1>
    {% elseif not app.user.active %}
        <h1 class="headmess"> Sorry, your account has been deactivated</h1>
        <h1 class="headmess">Please contact the <a href="mailto:admin@sortir.com">admin</a></h1>
    {% else %}
        <button id="show-hide-search-btn" onclick="animateElement()">Event filters close <<<</button>
        <h1> Still wanna Go Out {{ app.user.pseudo }} ? </h1>

        <section id="search-form">
            <div id="search-form-field">
                <label>Campus</label>
                <select id="campusNames">
                </select>
                <label>Search by words</label>
                <input type="search">
                <label>From</label>
                <input type="date">
                <label>To</label>
                <input type="date">
                <label>
                    <input type="checkbox">
                    Events where I am Organiser
                </label>
                <label>
                    <input type="checkbox">
                    Events I am subscribed to
                </label>
                <label>
                    <input type="checkbox">
                    Events I am not subscribed to
                </label>
                <label>
                    <input type="checkbox">
                    Past events
                </label>
                <div class="btn-container">
                    <button>Search</button>
                </div>
            </div>
        </section>

        <ul id="events-board">
            {% for event in allEvents %}
                <li onclick="window.location.href=`{{ path('goOut_details', {'id': event.id}) }}`"
                    class="flex-container">
                    <div>
                        <div class="flex-container row">
                            <h2>{{ event.name }}</h2>
                            <p>{{ event.startDate|date('D d/m/Y') }} at {{ event.startDate|date('h:i') }} </p>
                            <p>
                                {% if app.user.admin %}
                                    <a href="{{ path('admin_managePrivileges', {'id': event.organiser.id}) }}">{{ event.organiser.pseudo }}</a>
                                {% else %}
                                    {{ event.organiser.pseudo }}
                                {% endif %}
                            </p>
                            <p>{{ event.status.label }}</p>
                        </div>
                    </div>
                    <div>
                        <div class="flex-container row">
                            <div>

                                <p>Subscriptions ends : </p>
                                <p>The {{ event.limitSubDate|date('d/m/Y') }}
                                    at {{ event.limitSubDate|date('h:i') }}</p>
                                <p>Avalaibles places :</p>
                                <p>
                                    {{ event.users|length }} / {{ event.maxSub }}
                                </p>

                            </div>
                            <p>
                                {# Check if the current user is the organiser #}
                                {% if app.user.id != event.organiser.id and event.status.id == 2 %}
                                    {% if event in eventsCurrentUser %}
                                        <a href="{{ path('goOut_leave', {'id': event.id}) }}">Unsubscribe</a>
                                    {% else %}
                                        <a href="{{ path('goOut_participate', {'id': event.id}) }}">Subscribe</a>
                                    {% endif %}
                                {% elseif app.user.id == event.organiser.id %}
                                    {% if event.status.id == 2 %}
                                        <a href="{{ path('goOut_modify', {'id' : event.id}) }}">Modify</a>
                                        <a href="{{ path('goOut_cancel', {'id': event.id}) }}">Cancel</a>
                                    {% elseif event.status.id >= 5 %}
                                        <a href="{{ path('goOut_modify', {'id' : event.id}) }}">Modify and
                                            Republish</a>
                                    {% else %}
                                        <a href="{{ path('goOut_modify', {'id' : event.id}) }}">Publish</a>
                                    {% endif %}
                                {% else %}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        function initCampusNames() {
            //json response
            fetch("{{ app_url_api }}/campus", {method: "GET"})
                .then(response => response.json())
                .then(response => {
                    console.log(response);
                    let option = ""
                    response.map(campusName => {
                        option += `<option value="${campusName.id}">${campusName.name}</option>`
                    })
                    console.log(option);
                    document.querySelector("#campusNames").innerHTML = option;
                })
                .catch(e => (alert("ERROR : no options")))
        }

        window.onload = () => {
            initCampusNames();
        }
    </script>
{% endblock %}