{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Home{% endblock %}

{% block body %}
    {% if not app.user %}
        <a href="{{ path('app_login') }}">
            <img class="mainimg" src="{{ asset('img/logo-GO.png') }}" alt="Logo Go Out">
        </a>
        <h1 class="headmess"> Wanna Go Out ? </h1>
    {% else %}
        <h1> Still wanna Go Out {{ app.user.pseudo }} ? </h1>
        <p> Here's a list of events </p>
        <table class="eventTables">
            <tr>
                <th>Outing Name</th>
                <th>Date of outing</th>
                <th>Subscription Closure Date</th>
                <th>subscribed / available places</th>
                <th>Status</th>
                <th>Subscribed</th>
                <th>Organiser</th>
                <th>Actions</th>
            </tr>
            {% for event in allEvents %}
                <tr onclick="window.location.href=`{{ path('goOut_details', {'id': event.id}) }}`">
                    <td>{{ event.name }}</td>
                    <td>{{ event.startDate|date('d/m/Y h:i') }}</td>
                    <td>{{ event.limitSubDate|date('d/m/Y h:i') }}</td>
                    <td>
                        {% for line in subsPerEvent %}
                            {% for eventID, count in line %}
                                {% if eventID == event.id %}
                                    {{ count }}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        / {{ event.maxSub }}</td>
                    <td>{{ event.status.label }}</td>
                    <td>
                        {% if event in eventsCurrentUser %}
                            *
                        {% else %}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('profile_view', {'id': event.organiser.id}) }}">{{ event.organiser.pseudo }}</a>
                    </td>
                    <td>
                        {# Check if the current user is the organiser #}
                        {% if app.user.pseudo != event.organiser.pseudo %}
                            {% if event in eventsCurrentUser %}
                                <a href="{{ path('goOut_leave', {'id': event.id}) }}">Unsubscribe</a>
                            {% else %}
                                <a href="{{ path('goOut_participate', {'id': event.id}) }}">Subscribe</a>
                            {% endif %}
                        {% else %}
                            {% if event.status.id == 2 %}
                                <a href="{{ path('goOut_modify', {'id' : event.id}) }}">Modify</a>
                                <a href="{{ path('goOut_cancel', {'id': event.id}) }}">Cancel</a>
                            {% elseif event.status.id == 6 %}
                                <a href="{{ path('goOut_modify', {'id' : event.id}) }}">Modify and Republish</a>
                            {% else %}
                                <a href="{{ path('goOut_modify', {'id' : event.id}) }}">Publish</a>
                            {% endif %}
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}