{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Home{% endblock %}

{% block body %}
    {% if not app.user %}
        <a href="{{ path('app_login') }}">
            <img class="mainimg" src="{{ asset('img/logo-GO.png') }}" alt="Logo Go Out">
        </a>
        <h1 class="headmess"> Wanna Go Out ? </h1>
    {% else %}
        <h1> Still wanna Go Out {{ app.user.pseudo }} ? </h1>
        <p> Here's a list of events </p>
        <table class="eventTables">
                <tr>
                    <th>Outing Name</th>
                    <th>Date of outing</th>
                    <th>Subscription Closure Date</th>
                    <th>subscribed / available places</th>
                    <th>Status</th>
                    <th>Subscribed</th>
                    <th>Organiser</th>
                    <th>Actions</th>
                </tr>
                {% for event in allEvents %}
                    <tr>
                        <td>{{ event.name }}</td>
                        <td>{{ event.startDate|date('d/m/Y h:m') }}</td>
                        <td>{{ event.limitSubDate|date('d/m/Y') }}</td>
                        <td> * / {{ event.maxSub }}</td>
                        <td>{{ event.label }}</td>
                        <td></td>
                        <td>{{ event.pseudo }}</td>
                        <td>

                        </td>
                    </tr>
                {% endfor %}
        </table>
    {% endif %}

{% endblock %}