{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Home{% endblock %}

{% block body %}
    {% if not app.user %}
        <a href="{{ path('app_login') }}">
            <img class="mainimg" src="{{ asset('img/logo-GO.png') }}" alt="Logo Go Out">
        </a>
        <h1 class="headmess"> Wanna Go Out ? </h1>
        <button class="mainlog" name="LogIn/Register"><a href="{{ path('app_login') }}">LogIn/Register</a></button>
    {% else %}
        <h1> Still wanna Go Out {{ app.user.pseudo }} ? </h1>
        <p> Here's a list of events </p>
        <table class="eventTables">
            <tr>
                <th>Outing Name</th>
                <th>Date of outing</th>
                <th>Subscription Closure Date</th>
                <th>subscribed / available places</th>
                <th>Status</th>
                <th>Subscribed</th>
                <th>Organiser</th>
                <th>Actions</th>
            </tr>
            {% for event in allEvents %}
                    <tr onclick="window.location.href=`{{ path('goOut_details', {'id': event.id})}}`">
                        <td>{{ event.name }}</td>
                        <td>{{ event.startDate|date('d/m/Y h:i') }}</td>
                        <td>{{ event.limitSubDate|date('d/m/Y h:i') }}</td>
                        <td> * / {{ event.maxSub }}</td>
                        <td>{{ event.status.label }}</td>
                        <td></td>
                        <td>{{ event.organiser.pseudo }}</td>
                        <td></td>
                    </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}