{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cancel Event</h1>
        {{ form_start(cancelEventForm) }}
        {{ form_widget(cancelEventForm, {'attr': {'value': ' '}}) }}
        {{ form_end(cancelEventForm) }}
{% endblock %}

{% block title %}
    {{ parent() }} | Cancel Event
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
    <link rel="stylesheet" href="{{ asset('css/events.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profils.css') }}">
{% endblock %}

