{% extends 'base.html.twig' %}

{% block body %}
    <h1>Event details</h1>
    <div class="flex-container">
        <div class="flex-container participantList">
            <table>
                <caption>People coming to the event:</caption>
                <tr>
                    <th>Pseudo</th>
                    <th>Name</th>
                </tr>
                {% for participant in event.users %}
                    {% if app.user.admin %}
                    <tr onclick="window.location.href=`{{ path('admin_managePrivileges', {'id': participant.id}) }}`">
                    {% else %}
                        <tr>
                    {% endif %}
                    <td>{{ participant.pseudo }}</td>
                    <td>{{ participant.firstname }} {{ participant.lastname }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="eventDetails">
            <p>Organiser Name :</p>
            <em>{{ event.organiser.firstname }} {{ event.organiser.lastname }}</em>
            <p>Pseudo :</p>
            <em>{{ event.organiser.pseudo }}</em>
            <p>Event Name :</p>
            <em>{{ event.name }}</em>
            <p>Time and Date of Event :</p>
            <em>{{ event.startDate|date('D d/m/Y H:i') }}</em>
            <p>Subscription Closure Date :</p>
            <em>{{ event.limitSubDate|date('D d/m/Y h:i') }}</em>
            <p>Number of places :</p>
            <em>{{ event.maxSub }}</em>
            <p>Duration :</p>
            <em>{{ event.duration }} minutes</em>
            <p>Description and info :</p>
            <em>{{ event.infos }}</em>
        </div>
        <div class="eventDetails">
            <p>Campus :</p>
            <em>{{ event.campus.name }}</em>
            <p>Place :</p>
            <em>{{ event.place.name }}</em>
            <p>Street :</p>
            <em>{{ event.place.street }}</em>
            <p>Post Code :</p>
            <em>{{ event.place.city.postalCode }}</em>
            <p>Latitude :</p>
            <em>{{ event.place.latitude }}</em>
            <p>Longitude :</p>
            <em>{{ event.place.longitude }}</em>
        </div>
    </div>

{% endblock %}

{% block title %}{{ parent() }} | Event details{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/eventsDetails.css') }}">
{% endblock %}