{% extends 'base.html.twig' %}

{% block body %}
    <h1>Event details</h1>
    <div class="flex-container column">

            <p>Organiser Name: {{ event.organiser.firstname }} {{ event.organiser.lastname }}</p>

            <p> Pseudo: {{ event.organiser.pseudo }}</p>

            <p>Event Name : {{ event.name }}</p>
                <p>Time and Date of Event : {{ event.startDate|date('D d/m/Y H:i') }}</p>

            <p>Subscription Closure Date : {{ event.limitSubDate|date('D d/m/Y h:i') }}</p>

            <p>Number of places : {{ event.maxSub }}</p>

            <p>Duration : {{ event.duration }} minutes</p>

            <p>Description and info : {{ event.infos }}</p>

            <p>Campus : {{ event.campus.name }} </p>

            <p>Place : {{ event.place.name }}</p>

            <p>Street : {{ event.place.street }}</p>

            <p>Post Code : {{ event.place.city.postalCode }}</p>

            <p>Latitude : {{ event.place.latitude }}</p>

            <p>Longitude : {{ event.place.longitude }}</p>

        <div>
            {# TODO get list of participant for the table and add clickable link to participant profile #}
            <span>People coming to the event:</span>
            <table class="participantList">
                <tr>
                    <th>Pseudo</th>
                    <th>Name</th>
                </tr>
                {% for participant in event.users %}
                    {% if app.user.admin %}
                        <tr onclick="window.location.href=`{{ path('admin_managePrivileges', {'id': participant.id}) }}`">
                    {% else %}
                        <tr>
                    {% endif %}
                    <td>{{ participant.pseudo }}</td>
                    <td>{{ participant.firstname }} {{ participant.lastname }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} | Event details{% endblock %}