{% extends 'base.html.twig' %}

{% block body %}
    {% if add %}
        <h1>Add an event</h1>
    {% else %}
        <h1>Modify event</h1>
    {% endif %}

    <div class="flex-container">

        {{ form_start(eventForm) }}

        {{ form_label(eventForm.name) }}
        {{ form_widget(eventForm.name) }}

        {{ form_label(eventForm.startDate) }}
        {{ form_widget(eventForm.startDate) }}

        {{ form_label(eventForm.limitSubDate) }}
        {{ form_widget(eventForm.limitSubDate) }}

        {{ form_label(eventForm.maxSub) }}
        {{ form_widget(eventForm.maxSub) }}

        {{ form_label(eventForm.duration) }}
        {{ form_widget(eventForm.duration) }}

        {{ form_label(eventForm.infos) }}
        {{ form_widget(eventForm.infos) }}

        <div class=".label">
            Campus
        </div>
        <div class=".input">
            {{ app.user.campus.name }}
        </div>

        {{ form_label(eventForm.city) }}
        {{ form_widget(eventForm.city) }}

        {{ form_label(eventForm.place) }}
        {{ form_widget(eventForm.place) }}

        <div class="btn-container">
            {{ form_widget(eventForm.publishEvent) }}
            {{ form_widget(eventForm.createEvent) }}
        </div>

        <div class="form-link-container">
            <a href="{{ path('main_home') }}">Back to home</a>
        </div>

        {{ form_end(eventForm) }}


    </div>



{% endblock %}

{% block title %}

{% endblock %}

