<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=yes, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="{{ asset('img/favicon-GO.png') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <title>{% block title %}GO !{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            <script src="node_modules/jquery/jquery.js"></script>
            <script src="public/{{ asset('js/filtresAPI.js') }}"></script>
            {#{{ encore_entry_script_tags('app') }}#}
            <script src="{{ asset('js/visuals library.js') }}"></script>

        {% endblock %}
    </head>

    <body class="flex-container column">
        <header>
            {% block header %}
                {% if app.user %}
                    {% include 'inc/nav.html.twig' %}
                {% endif %}
            {% endblock %}
        </header>

    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <main>
        {% block body %}
        {% endblock %}
    </main>

    <footer>
        <p id="copyright">&copy; Go Out {{ "now"|date("Y") }}</p>
    </footer>

    </body>
</html>
