{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ooops an error occurred</h1>

    <p>
        <a href="{{ path('main_home') }}">Click to return to the homepage</a>.
    </p>
{% endblock %}

{% block title %}
    {{ parent() }} | Ooops
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
    <link rel="stylesheet" href="{{ asset('css/events.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profils.css') }}">
{% endblock %}
